# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
*.lock
pubspec.lock
